.boxes{
    background-color:rgb(2, 46, 0);
    color: white;
}
#box-top{
    height: 190px;
    font-size: 90px;
    border-radius: 10px;
}
#boxwithinbox{
    height: 40px;
    margin-top: 20px;
    font-size:30px;
    color: white;
    background-color:transparent;
    text-decoration: none;
}
body{
    background-color:rgb(241, 241, 241);
}
footer{
    background-color:rgb(2, 46, 0);
    color:white;
    margin-top: 1000px;
}
a{
    color:white;
}
a:active{
    color:rgb(2, 46, 0)
}
a:hover{
    font-size: 40px
}
#Addvirt{
    height: 150px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
